.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_columns{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
}

.content_rows{

    padding: 10px;
}

